This exercise has been done with the help of videos on Knowledge Shelf YouTube Channel.

In [1]:
import pandas as pd

In [2]:
pokemon = pd.read_csv("pokemon.csv")

In [3]:
pokemon

        Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]

Here, we can see that this data has been indexed 0,1,2,3,4,...If we would like to get rid of numericsand instead would like to make Pokemon column as index then we can run the next instruction:-

In [4]:
pokemon = pd.read_csv("pokemon.csv", index_col="Pokemon")

In [5]:
pokemon

               Type
Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
...             ...
Yveltal        Dark
Zygarde      Dragon
Diancie        Rock
Hoopa       Psychic
Volcanion      Fire

[721 rows x 1 columns]

To convert the data (displayed by previous instruction) into series, we run the below mentioned instruction:-

In [6]:
pokemon = pd.read_csv("pokemon.csv", index_col="Pokemon", squeeze=True) #still we will be able to use numeric index

In [7]:
pokemon[3] # it will value at index mentioned.

'Fire'

In [8]:
pokemon["Bulbasaur"] # it will display value at index "Bulbasaur".

'Grass'

In [9]:
pokemon["Ditto"] # it will display value at "Ditto".

'Normal'

In [10]:
pokemon[["Charizard", "Jolteon"]]

Pokemon
Charizard        Fire
Jolteon      Electric
Name: Type, dtype: object

In [11]:
pokemon["Digimon"] # as "Digimon" is not present it will result into error.

KeyError: 'Digimon'

In [ ]:
pokemon[["Pikachu", "Digimon"]] # although "Digimon" is not present , but output will be different.

In [ ]:
pokemon["Bulbasaur":"Pikachu"] # it will display data from "Bulbasaur" to "Pikachu"