This exercise has been done with the help of videos on Knowledge Shelf YouTube Channel.

In [1]:
import pandas as pd

In [2]:
google = pd.read_csv("gsp.csv")

In [3]:
google["High"].add(200) # this wwill add 200 to all the values in column "High".

0      1266.939941
1      1286.290039
2      1293.569946
3      1304.250000
4      1311.270020
          ...
120    1343.910034
121    1333.209961
122    1331.836060
123    1322.310059
124    1328.227051
Name: High, Length: 125, dtype: float64

In [4]:
google['High'].sub(200) # this will subract 200 from all the values in column 'High'

0      866.939941
1      886.290039
2      893.569946
3      904.250000
4      911.270020
          ...
120    943.910034
121    933.209961
122    931.836060
123    922.310059
124    928.227051
Name: High, Length: 125, dtype: float64

In [5]:
google["High"]-200 # this will also do the same thing i.e. subtract 200 from all the values in column "High"

0      866.939941
1      886.290039
2      893.569946
3      904.250000
4      911.270020
          ...
120    943.910034
121    933.209961
122    931.836060
123    922.310059
124    928.227051
Name: High, Length: 125, dtype: float64

In [6]:
google["Low"]+200 # addition can be done through this statement as well.

0      1245.229980
1      1263.209961
2      1284.001953
3      1292.000000
4      1301.619995
          ...
120    1312.780029
121    1316.659058
122    1303.619995
123    1296.010010
124    1315.000000
Name: Low, Length: 125, dtype: float64

In [ ]:
google["Open"]*0.5 # this will m