This has been done with the help of videos on Knowledge Shelf YouTube Channel.

Series object are a powerful way to show a list in a sequential way. It can also do the same for a dictionary even.

In [1]:
import pandas as pd

In [3]:
kulfi = ['Chocolate', 'Mango', 'Vanilla', 'Strawberry', 'Kesar']
pd.Series(kulfi)

0     Chocolate
1         Mango
2       Vanilla
3    Strawberry
4         Kesar
dtype: object

In [4]:
lottery = [4,8,15,12,23,43]
pd.Series(lottery)

0     4
1     8
2    15
3    12
4    23
5    43
dtype: int64

In [7]:
reg = [True, False, False, True, False, True]
pd.Series(lottery)

0     4
1     8
2    15
3    12
4    23
5    43
dtype: int64

In [8]:
my = {'ABC':1947, 'XYZ':1954, 'MNO':1965}
pd.Series(my)

ABC    1947
XYZ    1954
MNO    1965
dtype: int64

In [9]:
bn = {'abc':'xyz','pqr':'tuv','mno':'uyt'}
pd.Series(bn)

abc    xyz
pqr    tuv
mno    uyt
dtype: object